<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.

Let's first load the RODBC package:

In [102]:
library(RODBC)

## Problem 1

#### Create tables

Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R.
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

### Solution 1

In [111]:
# Establish database connection
lema_UN <- readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt")[1]
lema_pw <- readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt")[2]
lema_server <- readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt")[3]
lema <- odbcConnect(lema_server, uid = lema_UN, pwd = lema_pw)

Warning message in readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt"):
"incomplete final line found on 'C:/Users/coleb/OneDrive/Cosmo/Db2.txt'"
Warning message in readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt"):
"incomplete final line found on 'C:/Users/coleb/OneDrive/Cosmo/Db2.txt'"
Warning message in readLines("C:/Users/coleb/OneDrive/Cosmo/Db2.txt"):
"incomplete final line found on 'C:/Users/coleb/OneDrive/Cosmo/Db2.txt'"
Warning message in RODBC::odbcDriverConnect("DSN=Db22;UID=rcz17807;PWD=95pLE2cRR18g9dfa"):
"[RODBC] ERROR: state 42502, code -438, message [IBM][CLI Driver] SQL0438N  Application raised error or warning with diagnostic text: "Exceeded maximum limit of 15 connections. Connection refused".  SQLSTATE=42502
Warning message in RODBC::odbcDriverConnect("DSN=Db22;UID=rcz17807;PWD=95pLE2cRR18g9dfa"):
"ODBC connection failed"

In [104]:
# CROP_DATA:
cd <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv", header = TRUE)

In [105]:
# FARM_PRICES:
fp <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv", header = TRUE)

In [106]:
# DAILY_FX:
dfx <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv", header = TRUE)

In [107]:
# MONTHLY_FX:
mfx <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv", header = TRUE)

## Problem 2

#### Read Datasets and Load Tables

Read the datasets into R dataframes using the urls provided above. Then load your tables.

### Solution 2

In [108]:
head(cd)
write.csv(cd, "C:/Users/coleb/OneDrive/Cosmo/Annual_Crop_Data.csv", row.names = FALSE)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

In [112]:
cdtbl <- 'CREATE TABLE "RCZ17807".cd ( CD_ID INT ,YEAR CHAR(25) ,CROP_TYPE CHAR(25) ,GEO CHAR(25) ,SEEDED_AREA INT ,HARVESTED_AREA INT ,PRODUCTION INT ,AVG_YIELD INT )'

sqlQuery(lema, cdtbl)

ERROR: Error in sqlQuery(lema, cdtbl): first argument is not an open RODBC channel

In [ ]:
sqlSave(lema, cd, "cd", append = TRUE)

In [ ]:
head(fp)
write.csv(fp, "C:/Users/coleb/OneDrive/Cosmo/Monthly_Farm_Prices.csv", row.names = FALSE)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

In [ ]:
fptbl <- 'CREATE TABLE "RCZ17807".fp (CD_ID INT ,DATE CHAR(25) ,CROP_TYPE CHAR(25) ,GEO CHAR(25) ,PRICE_PERMIT DOUBLE )'

sqlQuery(lema, fptbl)

In [ ]:
sqlSave(lema, fp, "fp", append = TRUE)

In [ ]:
head(dfx)
write.csv(dfx, "C:/Users/coleb/OneDrive/Cosmo/Daily_FX.csv", row.names = FALSE)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

In [ ]:
dfxtbl <- 'CREATE TABLE "RCZ17807".dfx (DFX_ID INT ,DATE CHAR(25) ,FXUSDCAD DOUBLE )'
sqlQuery(lema, dfxtbl)

character(0)

In [ ]:
sqlSave(lema, dfx, "dfx", append = TRUE)

In [ ]:
head(mfx)
write.csv(mfx, "C:/Users/coleb/OneDrive/Cosmo/Monthly_FX.csv", row.names = FALSE)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [ ]:
mfxtbl <- 'CREATE TABLE "RCZ17807".mfx (DFX_ID INT ,DATE CHAR(25) ,FXUSDCAD DOUBLE )'
sqlQuery(lema, mfxtbl)

In [ ]:
sqlSave(lema, mfx, "mfx", append = FALSE)

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

### Solution 3

In [94]:
sqlQuery(lema,
 "SELECT COUNT(DISTINCT(CD_ID)) FROM fp")

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"RCZ17807.FP\" is an undefined name.  SQLSTATE=42704\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT COUNT(DISTINCT(CD_ID)) FROM fp'"

## Problem 4

#### Which geographies are included in the farm prices dataset?

### Solution 4

In [95]:
sqlQuery(lema,
 'SELECT DISTINCT (GEO) FROM cd')
#Alberta and Saskatchewan are the only two geographies in the farm prices dataset

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"RCZ17807.CD\" is an undefined name.  SQLSTATE=42704\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT DISTINCT (GEO) FROM cd'"

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

### Solution 5

In [96]:
sqlQuery(lema, 'SELECT cd.YEAR, cd.GEO, fp.DATE, fp.GEO
FROM "RCZ17807".cd, "RCZ17807".fp
WHERE cd.GEO = fp.GEO AND cd.YEAR = fp.DATE;')

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"RCZ17807.CD\" is an undefined name.  SQLSTATE=42704\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT cd.YEAR, cd.GEO, fp.DATE, fp.GEO\nFROM \"RCZ17807\".cd, \"RCZ17807\".fp\nWHERE cd.GEO = fp.GEO AND cd.YEAR = fp.DATE;'"

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [97]:
sqlQuery(lema, "SELECT * FROM fp WHERE CROP_TYPE = 'Rye' LIMIT 6")

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"RCZ17807.FP\" is an undefined name.  SQLSTATE=42704\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT * FROM fp WHERE CROP_TYPE = 'Rye' LIMIT 6'"

## Problem 7

#### Which provinces grew Barley?

### Solution 7

In [98]:
sqlQuery(lema,
 "SELECT DISTINCT (GEO) FROM cd WHERE CROP_TYPE = 'Barley'")
#Alberta and Saskatchewan are the two geographies provinces that sold Barley

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"RCZ17807.CD\" is an undefined name.  SQLSTATE=42704\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT DISTINCT (GEO) FROM cd WHERE CROP_TYPE = 'Barley''"

## Problem 8

#### Find the first and last dates for the farm prices data.

### Solution 8

In [99]:
sqlQuery((lema, "SELECT CONVERT(DATE"))

ERROR: Error in parse(text = x, srcfile = src): <text>:1:15: unexpected ','
1: sqlQuery((lema,
                  ^

In [ ]:
sqlQuery(lema,
 "SELECT MAX(YEAR)
  FROM fp WHERE '1' = 1")

[1] "42S22 -206 [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  \"YEAR\" is not valid in the context where it is used.  SQLSTATE=42703\r\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT MAX(YEAR)\n  FROM fp WHERE '1' = 1'"

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

### Solution 9

In [ ]:
sqlQuery(lema,
 "SELECT * from fp LIMIT 1")

  CD_ID DATE                      CROP_TYPE
1 0     1985-01-01                Barley
  GEO                       PRICE_PERMIT
1 Alberta                   127.39

In [ ]:
sqlQuery(lema, "SELECT * FROM fp WHERE (PRICE_PERMIT >= 350) LIMIT 6")

  CD_ID DATE                      CROP_TYPE
1 14    1985-03-01                Canola
2 20    1985-04-01                Canola
3 21    1985-04-01                Canola
4 26    1985-05-01                Canola
5 27    1985-05-01                Canola
6 33    1985-06-01                Canola
  GEO                       PRICE_PERMIT
1 Alberta                   350.04
2 Alberta                   363.84
3 Saskatchewan              364.36
4 Alberta                   354.58
5 Saskatchewan              359.99
6 Saskatchewan              350.47

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [ ]:
sqlQuery(lema,
 "SELECT CROP_TYPE, AVG(PRODUCTION) AS AVG_PROD_IN_2000 from cd WHERE YEAR LIKE '2000%' AND GEO LIKE 'Saska%' GROUP BY CROP_TYPE ORDER BY AVG_PROD_IN_2000 DESC LIMIT 6")

  CROP_TYPE                 AVG_PROD_IN_2000
1 Wheat                     13411800
2 Barley                     5301600
3 Canola                     3424600
4 Rye                          97800

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [ ]:
sqlQuery(lema,
 "SELECT GEO, CROP_TYPE, AVG(PRODUCTION) AS AVG_PROD_IN_2000 from cd WHERE YEAR LIKE '2000%' GROUP BY GEO, CROP_TYPE, YEAR ORDER BY AVG_PROD_IN_2000 DESC LIMIT 6")

  GEO                       CROP_TYPE                 AVG_PROD_IN_2000
1 Canada                    Wheat                     26535500
2 Saskatchewan              Wheat                     13411800
3 Canada                    Barley                    13228600
4 Canada                    Canola                     7205300
5 Alberta                   Wheat                      7123700
6 Saskatchewan              Barley                     5301600

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [ ]:
sqlQuery(lema,
 "SELECT GEO, CROP_TYPE, PRODUCTION  from cd WHERE GEO = 'Canada' AND CROP_TYPE = 'Wheat' AND YEAR LIKE '2020%' LIMIT 5")

  GEO                       CROP_TYPE                 PRODUCTION
1 Canada                    Wheat                     35183000

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

In [ ]:
sqlQuery(lema,
 "SELECT GEO, CROP_TYPE, PRODUCTION  from cd WHERE GEO = 'Canada' AND CROP_TYPE = 'Wheat' AND YEAR LIKE '2020%' LIMIT 5")

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                                         |
| ---------- | ------- | ------------- | ---------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs                                        |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production                                                                          |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module                                                    |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems                      |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment                                      |
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>