In [1]:
import pandas as pd

In [97]:
df = pd.read_csv(r'https://raw.githubusercontent.com/Cbhami/Coraline/master/Resume%20Resources/Coursera%20Transcripts.csv', encoding = 'utf-8')

In [98]:
df.head(11)

,Unnamed: 0,Certificate Name,Course Name,Enrollment Date,Grade Achieved,Link
0,0,Google Data Analytics,Google Data Analytics Capstone: Complete a Cas...,12/28/2021,100,NaN
1,5,Google Data Analytics,Analyze Data to Answer Questions,12/26/2021,94,NaN
2,7,Google Data Analytics,Share Data Through the Art of Visualization,11/28/2021,91,NaN
3,8,Google Data Analytics,Process Data from Dirty to Clean,11/15/2021,88,NaN
4,9,Google Data Analytics,Prepare Data for Exploration,11/14/2021,97,NaN
5,13,Google Data Analytics,Ask Questions to Make Data-Driven Decisions,11/13/2021,91,NaN
6,14,Google Data Analytics,Data Analysis with R Programming,11/1/2021,83,NaN
7,15,Google Data Analytics,"Foundations: Data, Data, Everywhere",11/1/2021,87,NaN
8,16,Google Project Management,Capstone: Applying Project Management in the R...,3/6/2022,93,NaN
9,17,Google Project Management,Project Execution: Running the Project,3/4/2022,92,NaN
10,18,Google Project Management,Project Planning: Putting It All Together,2/19/2022,94,NaN

In [10]:
df['Grade Achieved'] = df['Grade Achieved'].astype(int)

In [89]:
df = df[df['Grade Achieved'] > 70]

In [90]:
df.head(11)

,Unnamed: 0,Certificate Name,Course Name,Enrollment Date,Grade Achieved,Link
0,0,Google Data Analytics,Google Data Analytics Capstone: Complete a Cas...,12/28/2021,100,NaN
1,5,Google Data Analytics,Analyze Data to Answer Questions,12/26/2021,94,NaN
2,7,Google Data Analytics,Share Data Through the Art of Visualization,11/28/2021,91,NaN
3,8,Google Data Analytics,Process Data from Dirty to Clean,11/15/2021,88,NaN
4,9,Google Data Analytics,Prepare Data for Exploration,11/14/2021,97,NaN
5,13,Google Data Analytics,Ask Questions to Make Data-Driven Decisions,11/13/2021,91,NaN
6,14,Google Data Analytics,Data Analysis with R Programming,11/1/2021,83,NaN
7,15,Google Data Analytics,"Foundations: Data, Data, Everywhere",11/1/2021,87,NaN
8,16,Google Project Management,Capstone: Applying Project Management in the R...,3/6/2022,93,NaN
9,17,Google Project Management,Project Execution: Running the Project,3/4/2022,92,NaN
10,18,Google Project Management,Project Planning: Putting It All Together,2/19/2022,94,NaN

In [37]:
df = df[['Certificate Name', 'Course Name', 'Enrollment Date', 'Grade Achieved']]

In [78]:
df.to_csv(r'C:\Users\coleb\OneDrive\Coraline\Resume Resources\Coursera Transcripts.csv', encoding = 'utf-8', index = False)