In [10]:
#!pip install mysql-connector-python

In [11]:
import mysql.connector

In [12]:
#hostname is pulled from AWS key file
#host = open('C:\\Users\\coleb\\OneDrive\\Important Keys\\AWS_SQL_Hostname.txt', 'r').read()
port = 3306
username = 'admin'
#password is pulled from password key file 
#password = open('C:\\Users\\coleb\\OneDrive\\Important Keys\\SQL_Password.txt', 'r').read()
#host = open('/Users/cole/OneDrive/Important Keys/AWS_SQL_Hostname.txt', 'r').read()
host = 'database-2.csq7riu11tzg.us-east-1.rds.amazonaws.com'
password = open('/Users/cole/OneDrive/Important Keys/SQL_Password.txt', 'r').read()

In [13]:
conn = mysql.connector.connect(user = username,
                               host = host,
                              password = password,
                              database = 'awsdb2')
 
print(conn)
 
# Disconnecting from the server
#conn.close()

<mysql.connector.connection.MySQLConnection object at 0x7ff091c2d490>

In [14]:
#list the tables in my database
cursor = conn.cursor()
cursor.execute("SHOW TABLES")
for x in cursor:
    print(x)

('Activity_Workouts',)
('mapmyrun',)

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# #drop table "Activity_Workouts" if it exists from awsdb2
# cursor.execute ("DROP TABLE IF EXISTS Activity_Workouts")
# cursor.execute ("DROP TABLE IF EXISTS user94403143_workout_history")

In [17]:
#read C:\Users\coleb\OneDrive\Coraline\Resources\csv data\Activity_Workouts_1970-01-01--2022-09-26_6faf4d87-3a4f-448b-a4bc-2e8af30367ac.csv
#into a dataframe
data = pd.read_csv('https://raw.githubusercontent.com/Cbhami/Coraline/master/Resources/csv%20data/Activity_Workouts_1970-01-01--2022-09-26_6faf4d87-3a4f-448b-a4bc-2e8af30367ac.csv')
data.head()

,Start Time,End Time,Session Type,Session Subtype,Creation Method,Local Time Zone Offset,Activity Score,Intense Duration (ms),Moderate Duration (ms),Max Heart Rate (bpm),...,Pace (m/s),Distance (m),Elevation (m),Software Version,Software OS,Software OS Version,Active Time (ms),Total Duration (ms),Activity Pause,Session Source
0,2022-09-25T20:05:37.302Z,2022-09-25T21:43:10.817Z,WORKOUT,RUNNING,Automatic,-6.0,194.73886666666667,5830817.0,22698.0,173.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,5853515.0,5853515.0,Not Applicable,User Logged
1,2022-09-24T19:41:00.000Z,2022-09-24T20:30:00.000Z,WORKOUT,OTHER,Automatic,-6.0,47.2,180000.0,2460000.0,146.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2940000.0,2940000.0,Not Applicable,User Logged
2,2022-09-24T18:51:13.409Z,2022-09-24T19:40:03.623Z,WORKOUT,RUNNING,Automatic,-6.0,94.1595925,2763623.0,120000.0,182.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2930214.0,2930214.0,Not Applicable,User Logged
3,2022-09-24T17:03:37.541Z,2022-09-24T17:14:35.069Z,WORKOUT,WALKING,Automatic,-6.0,1.3687158333333334,No Data,60000.0,112.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,657528.0,657528.0,Not Applicable,User Logged
4,2022-09-23T22:35:44.821Z,2022-09-23T23:10:39.000Z,WORKOUT,WALKING,Automatic,-6.0,7.412649166666666,No Data,360000.0,113.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2094179.0,2094179.0,Not Applicable,User Logged

In [18]:
data.columns

Index(['Start Time', 'End Time', 'Session Type', 'Session Subtype',
       'Creation Method', 'Local Time Zone Offset', 'Activity Score',
       'Intense Duration (ms)', 'Moderate Duration (ms)',
       'Max Heart Rate (bpm)', 'Average Heart Rate (bpm)', 'Steps', 'Calories',
       'Pace (m/s)', 'Distance (m)', 'Elevation (m)', 'Software Version',
       'Software OS', 'Software OS Version', 'Active Time (ms)',
       'Total Duration (ms)', 'Activity Pause', 'Session Source'],
      dtype='object')

In [19]:
# '''create new table "Activity_Workouts" in awsdb2 with the columns 'Start Time', 'End Time', 'Session Type', 'Session Subtype',
#        'Creation Method', 'Local Time Zone Offset', 'Activity Score',
#        'Intense Duration (ms)', 'Moderate Duration (ms)',
#        'Max Heart Rate (bpm)', 'Average Heart Rate (bpm)', 'Steps', 'Calories',
#        'Pace (m/s)', 'Distance (m)', 'Elevation (m)', 'Software Version',
#        'Software OS', 'Software OS Version', 'Active Time (ms)',
#        'Total Duration (ms)', 'Activity Pause', 'Session Source'
# #and the data from the dataframe'''

# cursor.execute("CREATE TABLE Activity_Workouts (id INT AUTO_INCREMENT PRIMARY KEY, Start_Time VARCHAR(255), End_Time VARCHAR(255), Session_Type VARCHAR(255), Session_Subtype VARCHAR(255), Creation_Method VARCHAR(255), Local_Time_Zone_Offset VARCHAR(255), Activity_Score VARCHAR(255), Intense_Duration_ms VARCHAR(255), Moderate_Duration_ms VARCHAR(255), Max_Heart_Rate_bpm VARCHAR(255), Average_Heart_Rate_bpm VARCHAR(255), Steps VARCHAR(255), Calories VARCHAR(255), Pace_ms VARCHAR(255), Distance_m VARCHAR(255), Elevation_m VARCHAR(255), Software_Version VARCHAR(255), Software_OS VARCHAR(255), Software_OS_Version VARCHAR(255), Active_Time_ms VARCHAR(255), Total_Duration_ms VARCHAR(255), Activity_Pause VARCHAR(255), Session_Source VARCHAR(255))")

In [20]:
#insert the data from df into the table "Activity_Workouts"
for i,row in data.iterrows():
    sql = "INSERT INTO Activity_Workouts (Start_Time, End_Time, Session_Type, Session_Subtype, Creation_Method, Local_Time_Zone_Offset, Activity_Score, Intense_Duration_ms, Moderate_Duration_ms, Max_Heart_Rate_bpm, Average_Heart_Rate_bpm, Steps, Calories, Pace_ms, Distance_m, Elevation_m, Software_Version, Software_OS, Software_OS_Version, Active_Time_ms, Total_Duration_ms, Activity_Pause, Session_Source) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))

In [21]:
#read the table "Activity_Workouts" from awsdb2 INTO A DATAFRAME
cursor.execute("SELECT * FROM Activity_Workouts")
result = cursor.fetchall()
df = pd.DataFrame(result, columns=['id', 'Start_Time', 'End_Time', 'Session_Type', 'Session_Subtype', 'Creation_Method', 'Local_Time_Zone_Offset', 'Activity_Score', 'Intense_Duration_ms', 'Moderate_Duration_ms', 'Max_Heart_Rate_bpm', 'Average_Heart_Rate_bpm', 'Steps', 'Calories', 'Pace_ms', 'Distance_m', 'Elevation_m', 'Software_Version', 'Software_OS', 'Software_OS_Version', 'Active_Time_ms', 'Total_Duration_ms', 'Activity_Pause', 'Session_Source'])
df.head()

,id,Start_Time,End_Time,Session_Type,Session_Subtype,Creation_Method,Local_Time_Zone_Offset,Activity_Score,Intense_Duration_ms,Moderate_Duration_ms,...,Pace_ms,Distance_m,Elevation_m,Software_Version,Software_OS,Software_OS_Version,Active_Time_ms,Total_Duration_ms,Activity_Pause,Session_Source
0,422,2022-09-25T20:05:37.302Z,2022-09-25T21:43:10.817Z,WORKOUT,RUNNING,Automatic,-6.0,194.73886666666667,5830817.0,22698.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,5853515.0,5853515.0,Not Applicable,User Logged
1,423,2022-09-24T19:41:00.000Z,2022-09-24T20:30:00.000Z,WORKOUT,OTHER,Automatic,-6.0,47.2,180000.0,2460000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2940000.0,2940000.0,Not Applicable,User Logged
2,424,2022-09-24T18:51:13.409Z,2022-09-24T19:40:03.623Z,WORKOUT,RUNNING,Automatic,-6.0,94.1595925,2763623.0,120000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2930214.0,2930214.0,Not Applicable,User Logged
3,425,2022-09-24T17:03:37.541Z,2022-09-24T17:14:35.069Z,WORKOUT,WALKING,Automatic,-6.0,1.3687158333333334,No Data,60000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,657528.0,657528.0,Not Applicable,User Logged
4,426,2022-09-23T22:35:44.821Z,2022-09-23T23:10:39.000Z,WORKOUT,WALKING,Automatic,-6.0,7.412649166666666,No Data,360000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2094179.0,2094179.0,Not Applicable,User Logged

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1684 entries, 0 to 1683
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1684 non-null   int64
 1   Start_Time              1684 non-null   object
 2   End_Time                1684 non-null   object
 3   Session_Type            1684 non-null   object
 4   Session_Subtype         1684 non-null   object
 5   Creation_Method         1684 non-null   object
 6   Local_Time_Zone_Offset  1684 non-null   object
 7   Activity_Score          1684 non-null   object
 8   Intense_Duration_ms     1684 non-null   object
 9   Moderate_Duration_ms    1684 non-null   object
 10  Max_Heart_Rate_bpm      1684 non-null   object
 11  Average_Heart_Rate_bpm  1684 non-null   object
 12  Steps                   1684 non-null   object
 13  Calories                1684 non-null   object
 14  Pace_ms                 1684 non-null   object
 15  Distance_m              1684 non-null   object
 16  Elevation_m             1684 non-null   object
 17  Software_Version        1684 non-null   object
 18  Software_OS             1684 non-null   object
 19  Software_OS_Version     1684 non-null   object
 20  Active_Time_ms          1684 non-null   object
 21  Total_Duration_ms       1684 non-null   object
 22  Activity_Pause          1684 non-null   object
 23  Session_Source          1684 non-null   object
dtypes: int64(1), object(23)
memory usage: 315.9+ KB

In [23]:
#convert Start_Time and End_Time to datetime
df['Start_Time'] = pd.to_datetime(df['Start_Time'])
df['End_Time'] = pd.to_datetime(df['End_Time'])
df.head()

,id,Start_Time,End_Time,Session_Type,Session_Subtype,Creation_Method,Local_Time_Zone_Offset,Activity_Score,Intense_Duration_ms,Moderate_Duration_ms,...,Pace_ms,Distance_m,Elevation_m,Software_Version,Software_OS,Software_OS_Version,Active_Time_ms,Total_Duration_ms,Activity_Pause,Session_Source
0,422,2022-09-25 20:05:37.302000+00:00,2022-09-25 21:43:10.817000+00:00,WORKOUT,RUNNING,Automatic,-6.0,194.73886666666667,5830817.0,22698.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,5853515.0,5853515.0,Not Applicable,User Logged
1,423,2022-09-24 19:41:00+00:00,2022-09-24 20:30:00+00:00,WORKOUT,OTHER,Automatic,-6.0,47.2,180000.0,2460000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2940000.0,2940000.0,Not Applicable,User Logged
2,424,2022-09-24 18:51:13.409000+00:00,2022-09-24 19:40:03.623000+00:00,WORKOUT,RUNNING,Automatic,-6.0,94.1595925,2763623.0,120000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2930214.0,2930214.0,Not Applicable,User Logged
3,425,2022-09-24 17:03:37.541000+00:00,2022-09-24 17:14:35.069000+00:00,WORKOUT,WALKING,Automatic,-6.0,1.3687158333333334,No Data,60000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,657528.0,657528.0,Not Applicable,User Logged
4,426,2022-09-23 22:35:44.821000+00:00,2022-09-23 23:10:39+00:00,WORKOUT,WALKING,Automatic,-6.0,7.412649166666666,No Data,360000.0,...,No Data,No Data,No Data,1.0.129673,ios,16.0,2094179.0,2094179.0,Not Applicable,User Logged

In [24]:
#Convert "No Data" to 0 in the entire dataframe
df = df.replace('No Data', 0)
#convert the columns 'Intense_Duration_ms', 'Moderate_Duration_ms', 'Max_Heart_Rate_bpm', 'Average_Heart_Rate_bpm', 'Steps', 'Calories', 'Pace_ms', 'Distance_m', 'Elevation_m', 'Active_Time_ms', 'Total_Duration_ms' to numeric
df['Intense_Duration_ms'] = pd.to_numeric(df['Intense_Duration_ms'])
df['Moderate_Duration_ms'] = pd.to_numeric(df['Moderate_Duration_ms'])
df['Max_Heart_Rate_bpm'] = pd.to_numeric(df['Max_Heart_Rate_bpm'])
df['Average_Heart_Rate_bpm'] = pd.to_numeric(df['Average_Heart_Rate_bpm'])
df['Steps'] = pd.to_numeric(df['Steps'])
df['Calories'] = pd.to_numeric(df['Calories'])
df['Pace_ms'] = pd.to_numeric(df['Pace_ms'])
df['Distance_m'] = pd.to_numeric(df['Distance_m'])
df['Elevation_m'] = pd.to_numeric(df['Elevation_m'])
df['Active_Time_ms'] = pd.to_numeric(df['Active_Time_ms'])
df['Total_Duration_ms'] = pd.to_numeric(df['Total_Duration_ms'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1684 entries, 0 to 1683
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1684 non-null   int64
 1   Start_Time              1684 non-null   datetime64[ns, UTC]
 2   End_Time                1684 non-null   datetime64[ns, UTC]
 3   Session_Type            1684 non-null   object
 4   Session_Subtype         1684 non-null   object
 5   Creation_Method         1684 non-null   object
 6   Local_Time_Zone_Offset  1684 non-null   object
 7   Activity_Score          1684 non-null   object
 8   Intense_Duration_ms     1684 non-null   float64
 9   Moderate_Duration_ms    1684 non-null   float64
 10  Max_Heart_Rate_bpm      1684 non-null   float64
 11  Average_Heart_Rate_bpm  1684 non-null   float64
 12  Steps                   1684 non-null   float64
 13  Calories                1684 non-null   float64
 14  Pace_ms                 1684 non-null   int64
 15  Distance_m              1684 non-null   int64
 16  Elevation_m             1684 non-null   int64
 17  Software_Version        1684 non-null   object
 18  Software_OS             1684 non-null   object
 19  Software_OS_Version     1684 non-null   object
 20  Active_Time_ms          1684 non-null   float64
 21  Total_Duration_ms       1684 non-null   float64
 22  Activity_Pause          1684 non-null   object
 23  Session_Source          1684 non-null   object
dtypes: datetime64[ns, UTC](2), float64(8), int64(4), object(10)
memory usage: 315.9+ KB

In [25]:
#separate date and time from Start_Time and End_Time
df['Start_Date'] = df['Start_Time'].dt.date
df['Start_Time'] = df['Start_Time'].dt.time
df['End_Date'] = df['End_Time'].dt.date
df['End_Time'] = df['End_Time'].dt.time
df.head()

,id,Start_Time,End_Time,Session_Type,Session_Subtype,Creation_Method,Local_Time_Zone_Offset,Activity_Score,Intense_Duration_ms,Moderate_Duration_ms,...,Elevation_m,Software_Version,Software_OS,Software_OS_Version,Active_Time_ms,Total_Duration_ms,Activity_Pause,Session_Source,Start_Date,End_Date
0,422,20:05:37.302000,21:43:10.817000,WORKOUT,RUNNING,Automatic,-6.0,194.73886666666667,5830817.0,22698.0,...,0,1.0.129673,ios,16.0,5853515.0,5853515.0,Not Applicable,User Logged,2022-09-25,2022-09-25
1,423,19:41:00,20:30:00,WORKOUT,OTHER,Automatic,-6.0,47.2,180000.0,2460000.0,...,0,1.0.129673,ios,16.0,2940000.0,2940000.0,Not Applicable,User Logged,2022-09-24,2022-09-24
2,424,18:51:13.409000,19:40:03.623000,WORKOUT,RUNNING,Automatic,-6.0,94.1595925,2763623.0,120000.0,...,0,1.0.129673,ios,16.0,2930214.0,2930214.0,Not Applicable,User Logged,2022-09-24,2022-09-24
3,425,17:03:37.541000,17:14:35.069000,WORKOUT,WALKING,Automatic,-6.0,1.3687158333333334,0.0,60000.0,...,0,1.0.129673,ios,16.0,657528.0,657528.0,Not Applicable,User Logged,2022-09-24,2022-09-24
4,426,22:35:44.821000,23:10:39,WORKOUT,WALKING,Automatic,-6.0,7.412649166666666,0.0,360000.0,...,0,1.0.129673,ios,16.0,2094179.0,2094179.0,Not Applicable,User Logged,2022-09-23,2022-09-23

In [26]:
# #convert start_time and end_time to six digit numbers
# df['Start_Time'] = df['Start_Time'].astype(str)
# df['Start_Time'] = df['Start_Time'].str.replace(':', '')
# df['Start_Time'] = df['Start_Time'].str.replace('.', '')
# df['Start_Time'] = df['Start_Time'].str.replace(' ', '')
# df['Start_Time'] = df['Start_Time'].str[:6]
# df['Start_Time'] = pd.to_numeric(df['Start_Time'])
# df['End_Time'] = df['End_Time'].astype(str)
# df['End_Time'] = df['End_Time'].str.replace(':', '')
# df['End_Time'] = df['End_Time'].str.replace('.', '')
# df['End_Time'] = df['End_Time'].str.replace(' ', '')
# df['End_Time'] = df['End_Time'].str[:6]
# df['End_Time'] = pd.to_numeric(df['End_Time'])
# df.head()

In [27]:
#select all from awsdb2.Activity_Workouts
cursor.execute("SELECT * FROM Activity_Workouts")
result = cursor.fetchall()
df2 = pd.DataFrame(result, columns=['id', 'Start_Time', 'End_Time', 'Session_Type', 'Session_Subtype', 'Creation_Method', 'Local_Time_Zone_Offset', 'Activity_Score', 'Intense_Duration_ms', 'Moderate_Duration_ms', 'Max_Heart_Rate_bpm', 'Average_Heart_Rate_bpm', 'Steps', 'Calories', 'Pace_ms', 'Distance_m', 'Elevation_m', 'Software_Version', 'Software_OS', 'Software_OS_Version', 'Active_Time_ms', 'Total_Duration_ms', 'Activity_Pause', 'Session_Source'])
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1684 entries, 0 to 1683
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1684 non-null   int64
 1   Start_Time              1684 non-null   object
 2   End_Time                1684 non-null   object
 3   Session_Type            1684 non-null   object
 4   Session_Subtype         1684 non-null   object
 5   Creation_Method         1684 non-null   object
 6   Local_Time_Zone_Offset  1684 non-null   object
 7   Activity_Score          1684 non-null   object
 8   Intense_Duration_ms     1684 non-null   object
 9   Moderate_Duration_ms    1684 non-null   object
 10  Max_Heart_Rate_bpm      1684 non-null   object
 11  Average_Heart_Rate_bpm  1684 non-null   object
 12  Steps                   1684 non-null   object
 13  Calories                1684 non-null   object
 14  Pace_ms                 1684 non-null   object
 15  Distance_m              1684 non-null   object
 16  Elevation_m             1684 non-null   object
 17  Software_Version        1684 non-null   object
 18  Software_OS             1684 non-null   object
 19  Software_OS_Version     1684 non-null   object
 20  Active_Time_ms          1684 non-null   object
 21  Total_Duration_ms       1684 non-null   object
 22  Activity_Pause          1684 non-null   object
 23  Session_Source          1684 non-null   object
dtypes: int64(1), object(23)
memory usage: 315.9+ KB

In [28]:
#create a new schema in awsdb2
cursor.execute("CREATE SCHEMA IF NOT EXISTS Activity_Workouts")
#select all from awsdb2.Activity_Workouts
cursor.execute("SELECT * FROM Activity_Workouts")
result = cursor.fetchall()

In [29]:
#Show schemas in awsdb2
cursor.execute("SHOW SCHEMAS")
result = cursor.fetchall()
for x in result:
    print(x)

('Activity_Workouts',)
('awsdb2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [30]:
#Create a new table in awsdb2.Activity_Workouts
cursor.execute("CREATE TABLE IF NOT EXISTS Activity_Workouts.Activity_Workouts (id INT NOT NULL AUTO_INCREMENT, Start_Time TIME, End_Time TIME, Session_Type VARCHAR(255), Session_Subtype VARCHAR(255), Creation_Method VARCHAR(255), Local_Time_Zone_Offset VARCHAR(255), Activity_Score VARCHAR(255), Intense_Duration_ms INT, Moderate_Duration_ms INT, Max_Heart_Rate_bpm INT, Average_Heart_Rate_bpm INT, Steps INT, Calories INT, Pace_ms INT, Distance_m INT, Elevation_m INT, Software_Version VARCHAR(255), Software_OS VARCHAR(255), Software_OS_Version VARCHAR(255), Active_Time_ms INT, Total_Duration_ms INT, Activity_Pause VARCHAR(255), Session_Source VARCHAR(255), Start_Date DATE, End_Date DATE, PRIMARY KEY (id))")